BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
UseCRLF: false
SortIncludes: false
SeparateDefinitionBlocks: Always
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
